@model Polimerida_CAP.Models.GrupoViewModel

@{
    ViewData["Title"] = "Detalles del Grupo";
}

<div class="content-header"><div class="container-fluid"></div></div>
<section class="content">
 <div class="container-fluid">
  <div class="card">
    <div class="card-header"><h3 class="card-title">Detalles del Grupo</h3></div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m=>m.Nombre)</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m=>m.Descripcion)</dt>
        <dd class="col-sm-9">@Model.Descripcion</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m=>m.RegStatus)</dt>
        <dd class="col-sm-9">@Model.RegStatus</dd>
      </dl>
    </div>
    <div class="card-footer">
      <a asp-action="Edit" asp-route-id="@Model.IdGrupo" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
      <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
  </div>
 </div>
</section> 